<div class="table-responsive" ng-controller="file_details">
    <table class="table">
        <tr>
            <th colspan="2">{{name}}</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{size_mb}} ({{size}} bytes)</td>
        </tr>
        <tr>
            <td>Path</td>
            <td>{{path}}</td>
        </tr>
        <tr>
            <td>Added</td>
            <td>{{creation_time}}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary btn-sm">Delete</button>
</div>